Options -MultiViews
RewriteEngine On

# Si TON appli est au ROOT du vhost (http://IP/ ...)
RewriteBase /

# Si le fichier/dossier existe, on laisse passer
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, on envoie tout à index.php
RewriteRule ^ index.php [QSA,L]
